body {
    background-image: url('CSS Assets/wallpaper.png');
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    align-content: center;
    color: #F1F1F1;
    width: 1000px;
    text-shadow: 1px 2px 2px #548187;
    font-family: Arial, Helvetica, sans-serif;
    cursor: url('CSS Assets/pib-cursor.png'), default;
}


a {
    color: #F1F1F1;
    font-style: none;
    padding: 22px;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    cursor: url('CSS Assets/pib-pointer.png'), pointer;
}


button {
    color: #F1F1F1;
    font-style: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    background-color: #0047ABbf;
    border-radius: 5px;
}

button:hover {
    cursor: url('CSS Assets/pib-pointer.png'), pointer;
}


main {

    width: 75vw;
    margin-left: 18%;
    display: flex;
}

footer {
    font-size: small;
    width: calc(75vw*0.8);
    margin-left: calc(18% + 75vw * 0.18 + 30px);
    padding: 20px 0;
    border: solid #caeef3;
    border-radius: 3px;
    background-color: #0047ABbf;

}

li {
    padding: 10px;
}

table {
    border: 2px dotted #abe6ed;
}

tr {
    border: 2px dotted #abe6ed;
    padding: 10px;
}

td {
    border: 2px dotted #abe6ed;
    padding: 10px;
}

img {
    max-width: calc(70vw*0.8);
}

.main-header {
    display: block;
    margin-left: 18%;
    height: 15vh;
    max-width: 80vw;
    width: 75vw;
    margin-bottom: 8px;
}


.sidebar {
    width: 18%;
    padding: 1em;
    margin: none;
    background-color: rgba(0, 71, 171, 0.8);
    margin-right: 0;
    flex: auto;
    height: 1000px;
}

.sidebar a {
    padding: 2px;
    margin: 15px 0;
    display: block;
    border: #F1F1F1 outset 4px;
    border-radius: 5px;
    background-color: #0047AB;
}

@keyframes linkAnimation {
    from {
        font-size: 1em;
        height: 1em;
        width: 7em;
    }

    to {
        font-size: 1.7em;
        height: calc(1em*1.5);
        width: calc(7em*1.2);
    }
}

.sidebar a:hover {
    animation-name: linkAnimation;
    animation-duration: 0.5s;
    font-size: 1.7em;
    height: calc(1em*1.5);
    width: calc(7em*1.2);
    position: relative;
}

#player {
    height: 200px;
    width: 100%;
}


.main {
    width: 82%;
    text-align: center;
    background-color: rgba(0, 71, 171, 0.8);
}



.headers {
    background-color: #88a2f8;
    color: #0047AB;
    font-size: larger;
}

.sections {
    border: 5px solid #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    font-size: 22px;

}